<%- include partials/header %>
 <%- include partials/main_nav.ejs %>
 <link href="../Content/app.css" rel="stylesheet" type="text/css">

<h1 id ="Title"><%= title %></h1>
<br>
<!-- content of webpage -->
<main>
  

  <section>
    <h2>Our Mission</h2>
    <p id = "description">
     With this Tracker, Doing Assignments is not a last minute situation.
    </p>
  </section>
  <br>
</main>

<br>
<br>
<br>


<%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>
