<%- include partials/header %>
 <%- include partials/main_nav.ejs %> 
 
 <link href="../Content/app.css" rel="stylesheet" type="text/css">

 <!-- content of webpage -->
<main>
  <br>
  <br>
  <br>
  <h1>Keep Track of your Assignments with </h1>
  <h1 id ="homepage"><%= title %></h1>

  <%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>